#home #logo{text-align: center;}
#banner{border-style: solid;}
#logophoto{border-style:ridge;}
#navigations{border-style:outset;}
#collections{border-style: solid;}
h4{color: rgb(220, 95, 11);text-align: center;font-size: 28px;}
#ratings{color: darkgoldenrod;}
#home #about #content{border: 0.5px solid black;margin-left: auto;margin-right: auto;border-style: groove;}
#home #product #accessories {border: 0.5px solid black;margin-left: auto;margin-right: auto;border-style: groove;}
#home #product #tools{border: 0.5px solid black;margin-left: auto;margin-right: auto;border-style: groove;}
.center{border: 0.5px solid black;margin-left: auto;margin-right: auto;border-style: groove;}
#home .center thead th{border: 0.5px solid black;margin-left: auto;margin-right: auto;border-style: groove;}
#home .center tbody td{border: 0.5px solid black;margin-left: auto;margin-right: auto;border-style: groove;}
#heading{margin-left: auto;margin-right: auto;}
a:link{color: rgb(0, 0, 0);text-decoration: none;}
a:visited{background-color: chocolate;text-decoration: none;color: crimson;}
a:hover{color: rgb(252, 237, 29);text-decoration: none;background-color: black;}
a:active{color:brown;text-decoration: none;}
#regcol{background-color: rgba(59, 172, 59, 0.616);}
#logcol{background-color: rgba(59, 172, 59, 0.616);}
.center{background-color: rgba(0, 100, 0, 0.425);}
#end{background-color: rgba(59, 172, 59, 0.765);}
#bimg{background-image: url(../images/bimg-marquee.jpg);background-size: cover;background-position: center;}
#logo{background-color: rgba(59, 172, 59, 0.616);border: 0.5px solid black;margin-left: auto;margin-right: auto;border-style: groove;}